*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}
header{
    /* canh giữa cách lề mỗi bên 10% */
    margin: 5px 10%;
}

.menu{
    background: #484848; /*tô màu cho menu cha*/
    border-radius: 5px; /* bo góc */
}
.menu ul{
    display: flex;
}
.menu> ul li{
    list-style: none; /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên phải của li */
    border-right: 1px solid #ccc;
}
.menu> ul li a{
    display: block;
    padding: 0 25px;
    line-height: 50px;
    color: #f1f2f3;
    text-decoration: none;
}
/* Khi hover đến li, tô màu cho thẻ a */
.menu ul li:hover>a{
    background: aqua;
    opacity: 1;
    color: black;
}

#a1{
    height: 60px;
    width: 60px;
    position: relative;
    border-radius:50%;
    margin-top: 20px;

}
#p1{
    position: absolute;
    margin-left: 70px;
    font-size: 30px;
    margin-top: -50PX;    
}  


.d3{
    
    display: flex;
    width: 550px;
    height: 300px;
    font-size: 20px;
    margin-top: 95px;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width: 1000px;
    border-radius: 25px;
    border: 2px solid  rgb(58, 109, 227);;
    padding: 10px;
}

.d3 #a2{
    width: 150px;
    height: 150px;
    border-radius:50%;
    margin-left: 20px;
}
.d3 #d3-1{
    margin-top: 65px;
    margin-left: 150px;
    
}
.d3 #d3-2{
    margin-left: 300px;
    margin-top: 40px;
    
    font-size: 17px;
    
}
p{
    text-align: center;
    margin-left: 20px;
}
#pc1{
    font-size: 20px;
}

.d4{
    
    display: flex;
    width: 550px;
    height: 300px;
    font-size: 20px;
    margin-top: 95px;
    margin-left: 800px;
    border-radius:5%;
    background-color: rgb(58, 109, 227);
}
.d4 #a2{
    width: 150px;
    height: 150px;
    border-radius:50%;
    margin-left: 20px;
}
.d4 #d4-1{
    margin-top: 65px;
    margin-left: 20px;
    color: rgb(200, 228, 244);
}
.d4 #d4-2{
    margin-left: 70px;
    margin-top: 40px;
    color: rgb(200, 228, 244);
    font-size: 17px;
}
.d3 :hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
} 
.d4 :hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
} 
.d5{
    margin-top: 95px;
    height: auto;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 2px solid  rgb(58, 109, 227);;
    padding: 20px;
}

#d5-1{
    margin-left: 100px;
}
#p5{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}
#p5-2{
    text-align: center;
    font-size: 26px;
}
